footer
	.container-fluid
		.row.bottom-footer.text-center-mobile
			.col-sm-8
				p="© 2015 All Rights Reserved. Powered by"
					a(href="http://www.phir.co/")="PHIr"
					="exclusively for"
					a(href="http://tympanus.net/codrops/")="Codrops"
			.col-sm-4.text-right.text-center-mobile
				.social-footer
					li
						a(href="http://www.facebook.com/pages/Codrops/159107397912")
							i.fa.fa-facebook
					li
						a(href="http://www.twitter.com/codrops")
							i.fa.fa-twitter
					li
						a(href="https://plus.google.com/101095823814290637419")
							i.fa.fa-google-plus