-var color1='yellow'
-var color2='white'
-var precio1='$69.00'
-var bandera=1
if bandera=1
	.container-fluid
		.row
			.col-md-12
				.team.text-center
					.cover(style="background:url(&#39;img/team/team-cover1.jpg&#39;")
						.overlay.text-center
							h3(class=color2)=precio1
							h5.light.light-white="1 - 5 sessions / month"
else
	h1 bandera