extends archivo_padre.pug
block head
	//Normalize
	link(rel="stylesheet" type="text/css" href="./CARDIO_files/normalize.css")
	//bootstrap
	link(rel="stylesheet" type="text/css" href="./CARDIO_files/bootstrap.css")
	//owl
	link(rel="stylesheet" type="text/css" href="./CARDIO_files/owl.css")
	//animate
	link(rel="stylesheet" type="text/css" href="./CARDIO_files/animate.css")
	//font-awesome
	link(rel="stylesheet" type="text/css" href="./CARDIO_files/font-awesome.min.css")
	//et-icons
	link(rel="stylesheet" type="text/css" href="./CARDIO_files/et-icons.css")
	//cardio
	link(rel="stylesheet" type="text/css" href="./CARDIO_files/cardio.css")

block body
	//scripts
	script(src="./CARDIO_files/jquery-1.11.1.min.js.descarga")
	script(src="./CARDIO_files/owl.carousel.min.js.descarga")
	script(src="./CARDIO_files/bootstrap.min.js.descarga")
	script(src="./CARDIO_files/jquery.onepagenav.js.descarga")
	script(src="./CARDIO_files/main.js.descarga")