html {
 /* background-color: linear-gradient(#969722, #123897);*/
  height: 100vh;
}

body {
font: 16px Arial;
background-color: white;
/*background: -webkit-linear-gradient(black, white);
background: -moz-linear-gradient(black, white);
background: -o-linear-gradient(black, white);*/
}

h2{
background-color: #15AC11;
color:#FFFFFF;
text-align: center;
font-size: 1.4em;
font-weight: normal;
margin: 0px auto;
padding: 10px;
width: 820px;
}

section{
	background-color: #fff;
	margin: 0px auto;
	padding: 20px;
	width:800px;
}

section div {
	border: 1px solid #149B24;
	padding: 10px;

}

section div.ejemplo{
	background-color: #480B;
	text-align:center;
	transition: all 0.5s;

}

section div.ejemplo:hover{
	background-color: #3CB8EB;
	cursor: pointer; 


}